<div class="footer-container">
  <div class="footer-left">
    <span>&copy; edukawan, Inc. 2021 </span>
    <a href="#">Help</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>
  <div class="footer-right">
    <div class="footer-social-label">
      <span>Partnership</span>
    </div>
    <div class="footer-social-links">
      <a><img src="../../assets/images/social/facebook.jpg" alt="" /></a>
    </div>
    <div class="footer-social-links">
      <a><img src="../../assets/images/social/twitter.jpg" alt="" /></a>
    </div>
    <div class="footer-social-links">
      <a><img src="../../assets/images/social/instagram.jpg" alt="" /></a>
    </div>
  </div>
</div>
