@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --color-primary: #548CA8;
    --color-secondary: #FFAA4C;
    --color-background: #FDF6F0;
    --color-hover: #194358; 
}

footer {
    background-color: var(--color-background);
    color: var(--color-primary);
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    font: "Noto Sans" ;
    font-size: 16px ; 
 
}
.left {
    display: flex;
    justify-content: space-between;

}
.left a {
    padding: auto;
    margin: auto;
    padding-left: 29px ;
    color: var(--color-primary);
    text-decoration: none;
}

.right {
    padding: auto ;
    margin-right: 20px; 
    display: flex;
    justify-content: space-between;
}
.right p {
    padding-right: 15px;
}
.right a {
    padding: auto ;
    margin: auto ;
    padding-right: 10px ;
}