body{
	background-color:white;
}
h1 {
	font-family:Noto Sans;
	font-weight:normal;
	font-size:2em;
	
	margin-left:11.5rem;
	margin-top:5rem;
	
	color: #548CA8;
}

.swiper-container, img {
    width:20rem;
}

.webinar {
    width:20rem;
    background-color:#FDC8F0;
    border-radius:1rem;
    margin-bottom:5rem;
    margin-left:5rem;
}

.title{
	font-family:Noto Sans;
	font-weight:normal;
	font-size:1.5em;
	text-align:center;
	text-transform:capitalize;
}

.duration{
	font-family:Noto Sans;
	font-weight:none;
	font-size:0.8em;
	text-align:center;
	text-transform:capitalize;
}

.regis{
	font-family:Noto Sans;
	font-weight:none;
	font-size:1em;
	text-align:center;
	text-transform:capitalize;
}

.button{
	width:5rem;
	background-color: #FFB740;
	border-radius: 12px;
	border: 1px solid #FFB740;
	padding:8px 16px;
	
	font-family: Noto sans;
	font-size:1em;
	text-align:center;
	cursor: pointer;
	
	margin-left:7.5rem;
}

	margin-top:20px;
}