.auth-modal-fake-container {
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    width: 100%;
    height: 100%;
    z-index: 2021;
    /* background-color: var(--edk-color-blue); */
    transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.auth-modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2022;
}
.auth-modal-container {
    /* position: fixed; */
    width: 600px;
    height: 520px;
    background-color: white;
    padding: 48px 24px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--edk-color-wheat);
    z-index: 2023;
}
.auth-modal-fake-container.hidden {
    bottom: -100%;
}
.auth-modal-fake-container {
    bottom: 0;
}
.auth-modal__close {
    position: absolute;
    right: 12px;
    top: 12px;
    color: var(--edk-color-blue)
}
.auth-modal-content {
    box-sizing: border-box;
    /* border: solid 1px dodgerblue; */
    font-family: 'Noto Sans';
    font-size: 1.25em;
    color: var(--edk-color-blue);
}
.auth-modal-title {
    font-size: 1.3em;
    display: block;
    text-align: center;
}
.label {
    padding: 24px;
    padding-left: 0;
    font-size: 1em;
}
.auth-modal-content-input {
    display: block;
    height: 48px;
    font-family: 'Noto Sans';
    font-size: 0.8em;
    background-color: transparent;
    border: 2px solid var(--edk-color-blue);
    border-radius: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    width: 100%;
    color: var(--edk-color-blue);
}
.auth-confirm-container {
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-confirm {
    box-sizing: border-box;
    height: 48px;
    display: block;
    font-family: 'Noto Sans';
    font-size: 0.8em;
    color: var(--edk-color-blue);
    border: 2px solid var(--edk-color-blue);
    padding: 4px 24px;
    border-radius: 24px;
}
.auth-confirm:hover {
    background-color: var(--edk-color-blue);
    color: var(--edk-color-wheat);
}
.divider {
    box-sizing: border-box;
    border-top: 2px solid var(--edk-color-blue);
    max-width: 100%;
    margin: 24px 8px;
}
.auth-modal-q {
    font-size: 0.8em;
    display: block;
    text-align: center;
}
.auth-modal-q:hover {
    text-decoration: underline;
    cursor: pointer;
}
.auth-error-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-error {
    font-size: 0.75em;
    color: red;
    padding-bottom: 8px;
}