body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: 'Noto', sans-serif;
}

h2 {
  font-size: 2.0emp;
  color: #548CA8;
  background-color: #ffffff;
  text-align: right;
  margin-right: 205px;
  margin-top: 100px;
  text-shadow: 1px 1px 1px;
  font-family: 'Noto', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #fdf6f0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.navbar-brand h1 { /* Nama produk */
  font-family: 'Noto Serif;', serif;
  color: #FFAA4C;
  font-size: 2.0em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.card { /* kartunya */
  background-color: #FDF6F0;
  border-radius: 10px;
  margin-left: 1000px;
  margin-bottom: 150px;

}

.card-title{ /* teks di kartu */
  font-family: 'Noto serif;', sans-serif;
  color: #0A1931;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  margin-top: 10px;
}

.card-jumlahpendaftar{ /* teks di kartu */
  font-family: 'Noto', serif;
  color: #87A7B3;
  font-size: 0.8em;

}

.card-text{ /* teks di kartu */
  font-family: 'Noto', serif;
  color: #87A7B3;
  font-size: 0.8em;
}
