@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --color-primary: #548CA8;
    --color-secondary: #FFAA4C;
    --color-background: #FDF6F0;
    --color-hover: #194358;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0.5em;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.logo span {
    color: var(--color-secondary);
}

.logo:hover {
    font-size: 26.5px;
}

.mid {
    display: flex;
    justify-content: space-between;
}

.kategori {
    margin: 1em;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-primary);
    transition: all 0.3s ease 0s;
    padding: 1em;
}

.kategori i {
    padding-left: 0.2em;
}

.kategori:hover {
    color: var(--color-hover);
}

.dropkategori {
    display: none;
}

.mid ul li:hover .dropkategori {
    background-color: var(--color-primary);
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin-top: 1.2em;
    border-radius: 0.5em;
}

.dropkategori ul {
    margin-right: 3em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.dropkategori li {
    margin: 3px 0;
}

.dropkategori li a {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.dropkategori li a:hover {
    color: var(--color-secondary)
}

.boxContainer {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 0.7em;
    position: relative;
    border: 2px solid #548CA8;
    padding: 0.1em 1em;
    border-radius: 2em;
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    border-radius: 2em;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--color-background);
}

.search:focus {
    outline: none;
}

.right {
    display: flex;
    justify-content: space-between;
}

.right ul {
    margin: auto;
}

.aktivitas {
    margin: 1em;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-primary);
    transition: all 0.3s ease 0s;
}

.aktivitas:hover {
    color: var(--color-hover);
}

.aktivitas i {
    padding-left: 0.2em;
}

.dropaktivitas {
    display: none;
}

.right ul li:hover .dropaktivitas {
    background-color: var(--color-primary);
    display: flex;
    position: absolute;
    justify-content: space-between;
    border-radius: 0.5em;
}

.dropaktivitas ul {
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.dropaktivitas li {
    margin: 3px 0;
}

.dropaktivitas li a {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.dropaktivitas li a:hover {
    color: var(--color-secondary)
}

.profil {
    margin: 1em;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-primary);
    transition: all 0.3s ease 0s;
}

.profil:hover {
    color: var(--color-hover);
}