@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --color-primary: #548CA8;
    --color-secondary: #FFAA4C;
    --color-background: #FDF6F0;
    --color-hover: #194358;
}

section {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 3em;
}

.bagianfoto {
    margin: 0;
    padding: 4em;
    border-radius: 3em;
    background-color: var(--color-background);
}

.bagianfoto ul {
    padding: 0;
}

.bagianfoto ul li {
    list-style-type: none;
    padding: 0.2em 0;
}

.profile {
    text-decoration: none;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 1.5em;
    color: var(--color-primary);
}

.foto {
    border-radius: 8em;
}

.name {
    text-decoration: none;
    font-family: "Noto Sans";
    font-weight: normal;
    font-size: 1.2em;
    color: var(--color-primary);
}

.info {
    margin: 0.5em;
    padding: 1em;
    background-color: var(--color-background);
    border-radius: 0.5em;
}

.info ul {
    padding: 1em;
}

.info li {
    margin: 0.2em;
    padding: 0.3em;
    list-style-type: none;
    font-style: "Noto Sans";
    font-weight: normal;
    font-size: 1.1em;
    color: var(--color-primary);
}
