<div class="activity-container">
    <div class="activity-image-container">
        <img [src]="activity.imageUrl" class="activity-image">
    </div>
    <div class="activity-details-container">
        <div class="activity-details__spread">
            <span>
                {{ activity.participants }} mendaftar
            </span>
            <span>
                {{ getDurationString() }}
            </span>
        </div>
        <div class="activity-details__centered">
            <div class="activity-details__title">
                {{ activity.title }}
            </div>
        </div>
        <div *ngIf="isAuthenticated()" class="activity-details__centered">
            <button
                class="activity-details__join"
                [disabled]="isActivityJoined()"
                (click)="confirmJoinActivity()"
                >
                {{ activityJoinString() }}
            </button>
        </div>
        <div class="activity-details__spread">
            <span>
                {{ activity.provider }}
            </span>
            <span>
                {{ getDateString() }}
            </span>
        </div>
    </div>
</div>